<tbody width="600"> 
  
  <%= form_for :article, url: article_path(@article), method: :post, :remote => true do |f| %>
  <tr class = 'tid', id = "tid-<%=@article.id%>" >
    <td>
      <%= @article.user_id %>
    </td>  
    <td>
      <%= @article.id %>
    </td>
   
    <td>
      <%= f.text_field :title %>
    </td>

    <td>
      <%= f.text_area :text %>
    </td>
    
    <td>
      <%= @article.post_type %>
    </td>
   
    <td>
      <%= f.submit 'Save' %>
    </td>
    
  </tr>
  <% end %>
</tbody>