<h2>
Welcome <%= current_user.email %> !!
<%= link_to 'LogOut', destroy_user_session_path, :method => :delete %>
<br>
<%= link_to 'Home', home_path, method: :get %>
<%= link_to 'All Post', articles_path %>
<%= link_to 'New Post', new_article_path, :remote => true %> 
</h2>
 
 <h2>Listing articles</h2>
<table width="600">
  <tr>
  	<th>User Id</th>
    <th>Article Id</th>
    <th>Title</th>
    <th>Text</th>
    <th>Post Type</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr class = 'my_post_tr', id = "tr_id_<%=article.id%>" >
      <td><%= article.user_id %></td>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.post_type %></td>
      
      <td><%= link_to 'Show', article_path(article), :remote => true %></td>
      <td><%= link_to 'Edit', edit_article_path(article), :remote => true %></td>
      <td><%= link_to 'Destroy', delete_path(article),
              method: :get,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>