<div class="container">
<h2>New Post!!</h2>

<%= form_for :article, :url => {'action' => 'create'}, :remote =>true do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :id => 'txttittle' %>
  </p>
 
  <p>
    <%= f.label :text %>
    <%= f.text_area :text, :id => 'txtarea' %>
  </p>
 <p>
    <%= f.label :post_type %>
    <%= f.select :post_type, [['Friends','Friends'],['Only Me','Only Me'],['Public','Public']] %>
    
 </p>
  <p>
    <%= f.submit :id => "btnsubmit" %>
  </p>
<% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $("#btnsubmit").click(function(){
        if($("#txttittle").val() == "")
        {
          alert("Enter Tittle");
          $("#txttittle").focus();
          return false;
        }
        if($("#txtarea").val() == "")
        {
          alert("Enter Text");
          $("#txtarea").focus();
          return false;
        }
      });
  })
</script>